galileo==0.10.0
langchain 
langchain_openai 
langchain_anthropic 
langchain_mistralai 
langchain_google_genai 
langchain_together 
langchain_fireworks
langchain_writer
langchain_deepseek
langchain_aws
langchain_nvidia_ai_endpoints
langchain_cohere
colorama
pandas